body {
	margin: 0;
	background: white;
	font-family: '', sans-serif;
	font-weight: 400;
}

.container{
	width: 80%;
	margin: 0 auto;
}

header{
	background: white;
	box-shadow: 0 5px 8px 2px rgba(0,0,0,.2);
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
}

nav {
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

nav a:hover {
	color: #000;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #b05e2a;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 200ms;
}

nav a:hover::before {
	width: 100%;
}

.discount{
	height: 250px;
	background: #0f081c;
}

.discount img{
	padding-top: 2%;
	padding-left: 3%;
}

.discount img[src="dd2.jpg"]{
	padding-left: 2%;
}

.restaurants{
	color: #444;
	padding-left: 2.8%;
	padding-bottom: 2%;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.afterhr{
	margin-top: -4.7%;
	margin-left: 18%;
	margin-right: 2%;
	border: 1px solid #444;	
}

.list{
	height: 200px;
	padding-top: 6.5%;
}

.list hr[class=divisionhr]{
	margin-top: -4.7%;
	margin-left: 2.8%;
	margin-right: 2%;
	border: 1px solid #444;	
}

.divisionhr{
	margin-left: 2.8%;
	margin-right: 2%;
	border: 1px solid #444;	
}

.list img{
	padding-top: 2%;
	padding-left: 18%;
}

.title1{
	position: absolute;
	left: 38%;
	top: 61%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type1{
	position: absolute;
	left: 38.2%;
	top: 72.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost1{
	position: absolute;
	left: 38.2%;
	top: 76.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost1{
	position: absolute;
	left: 38.2%;
	top: 80.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment1{
	position: absolute;
	left: 38.2%;
	top: 84.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.title2{
	position: absolute;
	left: 38%;
	top: 104%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type2{
	position: absolute;
	left: 38.2%;
	top: 115.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost2{
	position: absolute;
	left: 38.2%;
	top: 119.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost2{
	position: absolute;
	left: 38.2%;
	top: 123.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment2{
	position: absolute;
	left: 38.2%;
	top: 127.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.title3{
	position: absolute;
	left: 38%;
	top: 148%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type3{
	position: absolute;
	left: 38.2%;
	top: 159.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost3{
	position: absolute;
	left: 38.2%;
	top: 163.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost3{
	position: absolute;
	left: 38.2%;
	top: 167.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment3{
	position: absolute;
	left: 38.2%;
	top: 171.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.title4{
	position: absolute;
	left: 38%;
	top: 192%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type4{
	position: absolute;
	left: 38.2%;
	top: 203.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost4{
	position: absolute;
	left: 38.2%;
	top: 207.8%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost4{
	position: absolute;
	left: 38.2%;
	top: 211.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment4{
	position: absolute;
	left: 38.2%;
	top: 215.8%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.title5{
	position: absolute;
	left: 38%;
	top: 235.5%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type5{
	position: absolute;
	left: 38.2%;
	top: 247.3%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost5{
	position: absolute;
	left: 38.2%;
	top: 251.3%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost5{
	position: absolute;
	left: 38.2%;
	top: 255.3%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment5{
	position: absolute;
	left: 38.2%;
	top: 259.3%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.title6{
	position: absolute;
	left: 38%;
	top: 279.5%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type6{
	position: absolute;
	left: 38.2%;
	top: 291.3%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost6{
	position: absolute;
	left: 38.2%;
	top: 295.3%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost6{
	position: absolute;
	left: 38.2%;
	top: 299.3%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment6{
	position: absolute;
	left: 38.2%;
	top: 303.3%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.title7{
	position: absolute;
	left: 38%;
	top: 323.5%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type7{
	position: absolute;
	left: 38.2%;
	top: 335.3%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost7{
	position: absolute;
	left: 38.2%;
	top: 339.3%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost7{
	position: absolute;
	left: 38.2%;
	top: 343.3%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment7{
	position: absolute;
	left: 38.2%;
	top: 347.3%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.title8{
	position: absolute;
	left: 38%;
	top: 367%;
	padding-top: -10%;
	position: absolute;
	color: black;
	font-family: 'Candara', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.type8{
	position: absolute;
	left: 38.2%;
	top: 378.5%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.cost8{
	position: absolute;
	left: 38.2%;
	top: 382.5%;
	padding-top: -10%;
	position: absolute;
	color: #7d7d7d;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.mincost8{
	position: absolute;
	left: 38.2%;
	top: 386.5%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.payment8{
	position: absolute;
	left: 38.2%;
	top: 390.5%;
	padding-top: -10%;
	position: absolute;
	color: #444;
	font-weight: bold;
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
}

.list img[src="4rating.png"]{
	padding-left: 4.8%;
}

.list img[src="4.3rating.png"]{
	padding-left: 4.8%;
}

.list img[src="3.3rating.png"]{
	padding-left: 4.8%;
}

.list img[src="3.8rating.png"]{
	padding-left: 4.8%;
}

.list img[src="3.9rating.png"]{
	padding-left: 4.8%;
}

.list img[src="4.1rating.png"]{
	padding-left: 4.8%;
}

.list input[type="submit"]{
	font-family: 'Candara', sans-serif;
	font-size: 17px;
	font-weight: bold;
	border:0;
	background: none;
	display: block;
	margin: -207px 900px;
	text-align: center;
	border: 2px solid #ff6a00;
	padding: 7px 20px;
	outline: none;
	color: #444;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.avertical { 
    border-left: 3px solid #444; 
    height: 200px; 
    margin-top: 12.5%;
    position:absolute; 
    left: 80%; 
} 

.bvertical { 
    border-left: 3px solid #444; 
    height: 200px; 
    margin-top: 2%;
    position:absolute; 
    left: 10%; 
} 

.list input[type="submit"]:hover{
	background: #ff6a00;
 	color: white;
}

.list h1:hover{
	color: red;
}

.copyright{
	background: black;
	color: white;
	height: 140px;
	margin-top: 4%;
}

.copyright p[class="about"]{
	padding-left: 20%;
	padding-top: 10%;
}

.copyright p[class="tnc"]{
	padding-left: 70%;
}

copbot ul{
	margin: 0;
	padding: 0;
	list-style: none
}

copbot li{
	display: inline-block;
	margin-left: 270px;
	padding-top: 40px;
	position: relative;
}

.copyright p[class="coptext"]{
	padding-top: 2%;
	padding-left: 41%;
	font-family: 'Candara', sans-serif;
}

copbot a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

copbot a:hover {
	color: white;
}