body {
	margin: 0;
	background: white;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.container{
	width: 80%;
	margin: 0 auto;
}

header{
	background: white;
	box-shadow: 0 5px 8px 2px rgba(0,0,0,.2);
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
}

nav {
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

nav a:hover {
	color: #000;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #b05e2a;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 200ms;
}

nav a:hover::before {
	width: 100%;
}

.tnc{
	margin-top: 5%;
	margin-bottom: 4%;
	margin-left: 3%;
	margin-right: 5%;
	font-family: 'Candara',sans-serif;
}

.copyright{
	background: black;
	color: white;
	height: 140px;
}

.copyright p[class="about"]{
	padding-left: 20%;
	padding-top: 10%;
}

.copyright p[class="tnc"]{
	padding-left: 70%;
}

copbot ul{
	margin: 0;
	padding: 0;
	list-style: none
}

copbot li{
	display: inline-block;
	margin-left: 270px;
	padding-top: 40px;
	position: relative;
}

.copyright p[class="coptext"]{
	padding-top: 2%;
	padding-left: 41%;
	font-family: 'Candara', sans-serif;
}

copbot a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
}

copbot a:hover {
	color: white;
}